@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@using PBL6.CasualManager.Localization
@inject IHtmlLocalizer<CasualManagerResource> L
@model PBL6.CasualManager.Web.Pages.CustomerInfos.EditModelModel
@{
    Layout = null;
}

<abp-script src="/Pages/CustomerInfos/create-update.js"></abp-script>

<form asp-page="/CustomerInfos/EditModal">
    <abp-modal size="Large">
        <abp-modal-header title="@L["Customer:Edit"].Value" class="bg-light"></abp-modal-header>
        <abp-modal-body>
            <abp-row class="employee-create-update-screen">
                <abp-column size-md="_4">
                    <abp-column size="_4">
                        <div class="icon-wrapper">
                            <img class="icon-pic image" src="@(Model.ViewModel.Avatar ?? "/upload_images/customer/profile.png")" width="191px" id="iconImage" />
                        </div>
                        <abp-input asp-for="ViewModel.Id"></abp-input>
                    </abp-column>
                </abp-column>
                <abp-column size-md="_8">
                    <abp-row>
                        <abp-column size-md="_6">
                            <abp-input asp-for="ViewModel.Name"></abp-input>
                        </abp-column>
                        <abp-column size-md="_6">
                            <abp-input asp-for="ViewModel.UserName" readonly="true"></abp-input>
                        </abp-column>
                    </abp-row>
                    <abp-row>
                        <abp-column size-md="_6">
                            <abp-select asp-for="ViewModel.Gender" asp-items="@Model.ListGenders"></abp-select>
                        </abp-column>
                        <abp-column size-md="_6">
                            <abp-input asp-for="ViewModel.DateOfBirth"></abp-input>
                        </abp-column>
                    </abp-row>
                    <abp-row>
                        <abp-column size-md="_6">
                            <abp-input asp-for="ViewModel.Phone"></abp-input>
                        </abp-column>
                        <abp-column size-md="_6">
                            <abp-input asp-for="ViewModel.Email" readonly="true"></abp-input>
                        </abp-column>
                    </abp-row>
                    <abp-row>
                        <abp-column size-md="_6">
                            <abp-select asp-for="ViewModel.ProvinceId" asp-items="@Model.ListProvinces"></abp-select>
                        </abp-column>
                        <abp-column size-md="_6">
                            <abp-select asp-for="ViewModel.DistrictId" asp-items="@Model.ListDistricts"></abp-select>
                        </abp-column>
                    </abp-row>
                    <abp-row>
                        <abp-column size-md="_6">
                            <abp-select asp-for="ViewModel.WardId" asp-items="@Model.ListWards"></abp-select>
                        </abp-column>
                        <abp-column size-md="_6">
                            <abp-input asp-for="ViewModel.Address"></abp-input>
                        </abp-column>
                    </abp-row>
                </abp-column>
            </abp-row>
        </abp-modal-body>
        <abp-modal-footer>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><span>@L["Common:Cancel"].Value</span></button>
            <button id="save" type="submit" class="btn btn-primary" data-busy-text="@L["Common:Saving"].Value"> <span>@L["Common:Save"].Value</span></button>
        </abp-modal-footer>
    </abp-modal>
</form>